html, body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
    height: 220vh;
    width: 100%;
    position: relative;
}

.modal {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    border: none;
    display: none;
}

.modal-button {
    cursor: pointer;
    background-color: orange;
    font-weight: bold;
    border: none;
}

.modal-button:hover {
    background-color: #000;
    color: #fff;
}

#mode {
    font-weight: 600;
}

.model {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    border: none;
    display: none;
}

.model-button {
    cursor: pointer;
    background-color: orange;
    font-weight: bold;
    border: none;
}

.model-button:hover {
    background-color: #000;
    color: #fff;
}

#made {
    font-weight: 600;
}


.container-fluid .card {
    width: 50%;
    height: 175vh;
    text-align: center;
    border: none;
    box-shadow: 0px 7px 9px 5px #292828fe;
    position: relative;
    left: 25%;
    top: 22vh;
    border-radius: 8px;
    display: flex;
    flex: 1;
    background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
    transition: 0.5s ease-in-out;
}

.card .card-title {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-right: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form{
    margin-top: 10vh;
    line-height: 3;
    width: 80%;
    margin-left: 10%;
}

#user_email::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#username::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#user_phone::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#user_password::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#confirm_password::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#user_address::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

#user_email{
    font-weight: bold;
    font-size: 15px;
}

#username{
    font-weight: bold;
    font-size: 15px;
}

#user_phone{
    font-weight: bold;
    font-size: 15px;
}

#user_password{
    font-weight: bold;
    font-size: 15px;
}

#confirm_password{
    font-weight: bold;
    font-size: 15px;
}

#user_address{
    font-weight: bold;
    font-size: 15px;
}
label{
    color: #464646;
    font-weight: 500;
    float: left;
    font-size: 14px;
    letter-spacing: 0.02px;
}

.form-check  #exampleCheck1{
    height: 4vh;
    width: 5%;
    right: 90%;
    cursor: pointer;
   
}

#font{
    margin-left: 10%;
    margin-top: 2vh;
    font-family: sans-serif;
    font-weight: bold;
    line-height: normal;
}

.card .btn {
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s, color 0.2s;
    top: 10vh;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 3rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: orange;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
}

.btn:hover {
    background-color: darkgreen;
    color: white;
}

.btn:hover::before {
    left: 100%;
    opacity: 1;
}

.card-footer {
    margin-top: 20vh;
    background: linear-gradient(90deg, rgba(72, 160, 107, 1) 10%, rgba(161, 255, 199, 1) 100%);
    border: none;
}

#text{
    color: #6c757d;
    font-weight: 500;
}

.card-footer a:hover {
    text-decoration: none;
}

.card-footer a {
    margin-left: 2%;
    color: brown;
    font-weight: 350;
    font-weight: 600;
    font-size: 14px;
}

#error{
    color: brown;
    font-size: 12px;
}

#invalid{
    color: brown;
    font-size: 12px;
}

#message{
    color: brown;
    font-size: 12px;
    line-height: normal;
}

#errorText{
    color: brown;
    font-size: 12px;
}

#errorTxt {
    color: brown;
    font-size: 12px;
}




@media (min-width: 421px) and (max-width: 1000px) {

    .container-fluid .card {
        width: 80%;
        position: relative;
        left: 10%;
        height: 78rem;
    }

    .container-fluid {
        background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
        height: 220vh;
        width: 100%;
        position: relative;
    }

    .form-check #exampleCheck1 {
        width: 10%;
        height: 2rem;
    }

}

@media (max-width: 420px) {

    .container-fluid .card {
        width: 100%;
        position: relative;
        left: 0%;
        height: 72rem;
    }

    .container-fluid {
        background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
        height: 235vh;
        width: 100%;
        position: relative;
    }

    .form-check #exampleCheck1 {
        width: 10%;
        height: 2rem;
    }

    .modal{
        width: 100%;
        margin-left: 0;
    }
}


@media(min-width: 440px) and (max-width: 700px){
    
    .modal {
        width: 100%;
        margin-left: 0;
    }
}

@media(min-width: 390px) and (max-width: 440px) {

    .modal {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .container-fluid {
        height: 500vh;
    }

    .container-fluid .card{
        top: 30vh;
    }
}
