html, body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.modal {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    border: none;
    display: none;
}

.modal-button {
    cursor: pointer;
    background-color: orange;
    font-weight: bold;
    border: none;
}

.modal-button:hover {
    background-color: #000;
    color: #fff;
}

#mode {
    font-weight: 600;
}


.container-fluid .card {
    width: 40%;
    height: 60vh;
    text-align: center;
    position: relative;
    left: 28%;
    top: 22vh;
    box-shadow: 0px 7px 9px 5px #292828fe;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
    transition: 0.5s ease-in-out;
}

#demo {
    color: brown;
    font-size: 12px;
}

.card .btn {
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 10vh;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 3rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: orange;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
}

.btn:hover {
    background-color: darkgreen;
    color: white;
}

.btn:hover::before {
    left: 100%;
    opacity: 1;
}

#recovery_email::placeholder {
    color: #bfb8b8;
    font-weight: 400;
    font-size: 12px;
}

.wrap{
    background-color: #fff;
    position: absolute;
    bottom: 20vh;
    height: 10rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
}

#success{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    margin-top: 3vh;
}

#next{
    border: none;
    background-color: rgb(47, 235, 47);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 15vh;
    left: 40%;
    height: 2rem;
    width: 5rem;
    padding-left: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

.wrap-out{
    background-color: #fff;
    position: absolute;
    bottom: 20vh;
    height: 10rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
}

#invalid{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    margin-top: 3vh;
}

#close{
    border: none;
    background-color: red;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 15vh;
    left: 40%;
    height: 2rem;
    width: 5rem;
    padding-left: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

#recovery_email{
    font-weight: bold;
    font-size: 15px;
}

label {
    color: #464646;
    font-weight: 500;
    float: left;
    font-size: 14px;
    letter-spacing: 0.02px;
}

#password_recovery_form{
    margin-top: 7vh;
    line-height: 3;
}


@media (min-width: 400px) and (max-width: 1000px) {

    .container-fluid .card {
        width: 80%;
        position: relative;
        left: 10%;
        height: 30rem;
    }

    .container-fluid {
        background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
        height: 150vh;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 400px) {

    .container-fluid .card {
        width: 90%;
        position: relative;
        left: 5%;
        height: 30rem;
        top: 10vh;
    }

    .container-fluid {
        background: linear-gradient(90deg, rgba(72, 160, 107, 1) 18%, rgba(161, 255, 199, 1) 99%);
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .modal{
        width: 100%;
        margin-left: 0;
    }
}


@media (max-width: 1000px) and (orientation: landscape) {
    
    .container-fluid .card {
        top: 5vh;
        height: 20rem;
    }
}

@media(max-width: 700px){
    .modal {
        width: 100%;
        margin-left: 0;
    }
}